.stars {
    display: inline-flex;
    direction: rtl;
    color: rgb(255, 255, 255);;
    gap: 5px;
    cursor: pointer;
}
/* default */






/* for заполненых звезд */
.star .fa-solid {
    display: none;
    color: gold;
}


/* при наведении на star его элементы с класом fa-solid становится inline-block, А ТАК ЖЕ при наведении на star все последующие блоки идущие за ним с класом star делают свои элементы inline-block то-есть видимыми */
.star:hover .fa-solid, .star:hover ~ .star .fa-solid {
    display: inline-block;
}





/* при наведении убирать пустые звезды  */
.star:hover .fa-regular,
.star:hover ~ .star .fa-regular {
    display: none;
}
