@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=LXGW+Marker+Gothic&family=Oswald:wght@200..700&family=Roboto+Slab:wght@300&display=swap');
@import "tailwindcss";


@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


}



body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0; padding: 0;
  box-sizing: border-box;
}


:root {
  --spacing: 4px;
} 


@layer utilities {
  @keyframes fade-in-scale {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-out-here {
    animation: fade-in-scale 0.3s ease-out;
  }
  
  .roboto-slab-font {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}